<h2><%= @task.title %></h2>
<div class="list-group-list-group-flush-salvador">
  <%= @task.details %>
  <%if @task.completed %>
    <%= "COMPLETED ✅" %>
    <% else %>
    <%= "NOT COMPLETED ❌" %>
     <% end  %>
</div>


<%= link_to "Back to list", tasks_path, class: "btn btn-salvador" %>

<%= link_to "Edit a task", edit_task_path, class: "btn btn-salvador"%>
